*{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #292e31;
}

h1{
  font-size: 2.4em;
  letter-spacing: 1px;
  margn-top: 12px;
  margin-bottom: 12px;
  transform: rotate(5deg);
}

p{
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
  font-weight: 300;
}
