@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Pacifico');
/***** Chosen Font Families*******
font-family: 'Pacifico', cursive;
font-family: 'Libre Franklin', sans-serif;
*************/

*{
  margin: 0px;
  font-family: @sans-serif;
}
/******* CSS Variables****
*************************/
/**** Colors ***/
@background : #0f0f0f;
@black : #292e31;
@white: #ffffff;
@title-color : #0b12e1;
@main-color: #d523c6;

@sandwisp: #0018AB; //#f3f6b4;
@fountain-blue: #57b9c6;
@govenor-bay: #3c34d2;
@beeswax : #fdf3bf;
@dairy-creme: #fbddc5;
@cerise: #9933CC; //#d523c6;
@degrees: 135deg;
@linearGradient: linear-gradient(@degrees, @sandwisp , @cerise);
/** Spacing***/
@tinyGap : 6px;
@smallGap : 12px;
@mediumGap: 25px;
@largeGap: 50px;

/**** Font families and sizing ****/
@sans-serif : 'Open sans', sans-serif;
@serif : 'Pacifico', cursive;

@caption: 8pt;
@paragraph: 12pt;
@body :  1.25em;
@title:  20pt;
@header:  28pt;
@page-title: 30pt;
@gigantic-title: 40pt;

/**** Main CSS below line ***/
a{
  text-decoration: none;
  color: @white;
}
p{
  font-size: @body;
}
body{
  background: @background;
  color: @white;
  width: 100vw;
  position: relative;
}

 nav{
   margin-top: @mediumGap;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

nav a{
  padding: 0px @mediumGap;
}

/*** Outline Wrapper and Container styles ***/

.wrapper{
  margin: @largeGap 100px;
  padding: 2px;
  background: @linearGradient;
}

.container{
  background: @background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoWrapper{
  margin: @largeGap 0px;
  padding: 2px;
  background: @linearGradient;
}

.logoContainer{
  background: @background;
}
.logoContainer p{
  font-size: 3em;
  padding: 12px 24px;
}

/** Text block styles **/

.heroText{
  margin-bottom: @largeGap;
  width: 70%;
  text-align: center;
}
.heroText p{
  margin-bottom: @mediumGap;
  line-height: 2.5;
  font-size: @body;
  letter-spacing: .5px;
}
.heroText p b {
}
.heroText p span {
  border-bottom: 2px solid @cerise;
  padding: 4px 6px;
}
.heroText p span:hover{
  background: @cerise;
  transition: all .3s ease-in-out;
}

/*** Outline Gradient Button Styles ***/

.outlineGradientButton{
  background: @linearGradient;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 25px;
}

.outlineGradientButton p{
  padding: 6px 24px;
  display: inline-block;
  text-align: center;
  background: @background;
  border-radius: 25px;
}

.outlineGradientButton:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}

.gradientButton{
  background: @linearGradient;
  border-radius: 25px;
}
.gradientButton p{
  padding: 6px 24px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
}
.gradientButton:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}

/** Styles related to Tabs **/
.tabs{
  position: relative;
  z-index: 2;
  margin-top: 25px;
  align-self: center;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tabWrapper{
  background: @linearGradient;
  padding: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabContainer{
  background: @background;
  padding: 12px 24px;
  transition: 1s ease-out;
}
.tabWrapper:hover .tabContainer{
  background: @linearGradient;
  transition: all 1.5s ease-in;
}
.tabWrapper:hover .ball{
  top: -20px;
  transition: 1s ease-in-out;
}
.ball{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 50px;
  top: -75px;
  background : @linearGradient;
  border-radius: 50%;
  transition: .5s ease-in-out;
}
.active .ball{
  top: 80px;
  transition: 1s ease-in-out;
}

/** Tab Content Styles**/
.Contentwrapper{
  margin: 100px 100px;
  padding: 2px;
  background: @linearGradient;
  transition: all 1s ease-in-out;
}

.Contentcontainer{
  width: 100%;
  background: @background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** Footer Styles **/

footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
footer p{
  font-size: .85em;
  margin: @smallGap;
}

/** Social Links Navbar Styles **/

.socialLinks{
  position: fixed;
  left: 0px;
  top: 30vh;

  align-items: center;
}

.sLinks{
  width: 0px;
}
.primary{
  background: linear-gradient(0deg, @sandwisp, @cerise);
}
.secondary{
  background: linear-gradient(0deg, @cerise, @sandwisp);
}
.sLinks i {
  font-size: 1.3em;
  padding: @smallGap;
}
.sLinks:hover{
  transition: all .5s ease-in-out;
  width: 50px;
}
